<div class="notification">
  <div class="generated_by">
  </div>
  <div class="watching">
  </div>
  <div class="description">
  </div>
  <div class="close">
    <a href="#" class="close_notification">X</a>
  </div>
</div>