<div class="notification card">
  <div class="close">
    <a href="#" class="close_notification">X</a>
  </div>
  <div class="container-fluid">
    <span class="generated_by badge badge-primary">
    </span>
    <span class="watching badge badge-default">
    </span>
  </div>
  <div class="description card-block">
  </div>
</div>