<div class="result col-lg-4 card">
	<div class="title">
        <span class="name">
      	</span>
        <span class="badge badge-default"> 
          <span class="symbol"></span>
          :
      	   <span class="exchange"></span>
        </span>
    </div>
	<div class="price_holder">
    $<span class="price"></span>
	</div>
  <div class="subscribe_div">
    <a href="#" data-symbol="" data-price="" class="subscribe_link btn btn-primary"> SUBSCRIBE </a>
  </div>
</div>