<div class="result">
	<div class="name">
	</div>
	<div class="symbol">
	</div>
	<div class="exchange">
	</div>
	<div class="price">
	</div>
  <div class="subscribe_div">
    <a href="#" data-symbol="" data-price="" class="subscribe_link"> SUBSCRIBE </a>
  </div>
</div>