<div id="events" class="container-fluid">
</div>  
<div style="padding-top: 20px;" class="container-fluid">
  <h3>Look for a stock:</h3>
</div>
<%= render 'form' %>
<hr>
<div class="container-fluid">
  <h3> Results: </h3>
</div>
<div class="container-fluid">
  <div id="query_results" class="row">

  </div>	
</div>
<%= render 'templates' %>